@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Iosevka Charon Mono", monospace;
    background: blue;
    color: white;
    margin: 0;
    text-align: center;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #777;

    opacity: 0;
    pointer-events: none;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.screen.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* BUTTON */
.btn {
    border: 0;
    background: white;
    color: #777;
    padding: 15px 20px;
    cursor: pointer;
}

.insect-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.insect-list li {
    margin: 10px;
}

.choose-insect-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.choose-insect-btn img {
    width: 100px;
    height: 100px;
}

.choose-insect-btn:hover {
    background: white;
    color: #777;
}

/* GAME UI */
.game-container {
    position: relative;
}

.time {
    position: absolute;
    top: 20px;
    left: 20px;
}

.score {
    position: absolute;
    top: 20px;
    right: 20px;
}

.message {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: black;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
}

.message.visible {
    opacity: 1;
    transform: scale(1);
}

.insect {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insect.caught {
    transform: scale(0);
    transition: transform 0.3s ease;
}
.home-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #1e3c72;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.home-btn:hover {
    background-color: white;
    color: #1e3c72;
}
