body * {
    text-align: center;
}

button {
    padding: 10px;
    margin-top: 10px;
}
.home-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #1e3c72;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.home-btn:hover {
    background-color: white;
    color: #1e3c72;
}
